{% extends 'index.html' %}

{% block title %} Admin Signup {% endblock title %}


{% block body %}

<div class="container">

    <div class="row mt-5 pt-lg-4 pt-md-4 pt-sm-0">
    
        <div class="col-md-4 col-sm-12"></div>
    
        <div class="col-md-4 col-sm-12 px-lg-4 px-md-4 px-sm-0">
    
            <form class="form-signin">
                 
                <h1 class="h3 mb-3 font-weight-normal text-center">Admin Sign Up</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="addmissionid" name="addmissionid" required>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="text" id="inputPassword" class="form-control" placeholder="name" name="name" required>

                <input type="email" id="inputPassword" class="form-control" placeholder="email" name="email" required>

                <input type="text" id="inputPassword" class="form-control" placeholder="address" name="address" required>

                <input type="text" id="inputPassword" class="form-control" placeholder="phone" name="phone" required>
                <div class="checkbox mt-2 text-center">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Sign Up</button>
                <p class="mt-5 mb-3 text-muted text-center">&copy; 2022-2024</p>
            </form>
    
        </div>
    
        <div class="col-md-4 col-sm-12"></div>
    
    </div>
    
    </div>


{% endblock body %}